.admin-panel{
    display: flex;
}
.admin-panel h1{
    text-align: center;
    margin: 2px auto;
    color: #57BBB5;
}
.admin-panel div.admin-form{
    margin: auto;
    width: 40%;
    margin-top: 1rem;
}
.admin-panel form{
    padding: 10px;
}
.admin-panel div.form-group{
    margin: 10px;
    font-size: 1.25rem;
}
div.form-group input , div.form-group select{
    border: 0;
    border-bottom: 2px solid #57BBB5 ;
    margin: 10px 0;
    font-size: 1.25rem;
}
div.form-group label{
    margin: 5px 0;
    display: block;
}
input:focus , select:focus{
    outline: none;
}
input.edit-input{
    width: 45px;
}
div.admin-form-inner{
    border: 3px solid rgba(88, 187, 180,0.7);
    padding: 10px;
}
.admin-form-inner input[type='submit']{
    background-color: #57BBB5;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    padding: 10px;
    border: 0;

    &:hover{
        background-color: rgba(87, 187, 181,0.7);
    }
}
.admin-buttons button , .add-button{
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    background-color: #fff;
    width: 30px;
    height: 30px;
}
@media screen and (max-width : 500px) {
    .admin-panel div.admin-form{
        width: auto;
    padding: 0 10px;
    font-size: 1rem;
    }
    div.form-group input , div.form-group select {
        font-size: 1rem;
    }
}